/**
Main stylesheet
*/

/* Typography */
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #202020;
    background-color: #fefefe;
}

h1, h2, h3, h4 {
    font-weight: 700;
    letter-spacing: -1px;
}

/*Global styles*/
.header {
    background-color: #333333;
    color: #fefefe;
}
.header .wrapper.top {
    color: #fefefe;
}

.header .logo-container a {
    display: block;
    font-size: 1rem;
    letter-spacing: -1px;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    color: #fcfcfc;
}

.header .logo-container img {
    max-width: 4rem;
}

.header .wrapper.top ul {
    margin: 0;
}

.header .wrapper.top li {
    display: inline-block;
    max-width: 5rem;
}
.header .wrapper.top li a {
    display: inline-block;
    color: #fefefe;
    text-decoration: underline;
    font-size: 14px;
    padding: 0.65rem 0.25rem;

}

.header .wrapper.top li a:hover,
.header .wrapper.top li a:focus {
    text-decoration: none;
}

.header .wrapper.top .search-container {
    position: relative;
}

.header .wrapper.top .search-container input {
    background-color: transparent;
    color: #fefefe;
}
.header .wrapper.top .search-container input#search-bar {
    color: #fefefe;
    width: 100%;
    height: 38px;
    border: solid 1px #fefefe;
    border-radius: 2px;
    padding: 0 3rem 0 0.5rem;
    font-size: 14px;
}

.header .wrapper.top .search-container input#search-bar::placeholder {
    color: #fefefe !important;
}
.header .wrapper.top .search-container input#search-bar::-webkit-input-placeholder {
    color: #fefefe !important;
}
.header .wrapper.top .search-container input#search-bar::-moz-placeholder {
    color: #fefefe !important;
}
.header .wrapper.top .search-container input#search-bar:-ms-input-placeholder {
    color: #fefefe !important;
}
.header .wrapper.top .search-container input#search-bar:-moz-placeholder {
    color: #fefefe !important;
}

.header .wrapper.top .search-container button.btn-search {
    position: absolute;
    background-color: transparent;
    color: #fcfcfc;
    border: 1px solid #fcfcfc;
    border-radius: 2px;
    height: auto;
    top: 0;
    right: 0;
}

.header .wrapper.top .search-container button.btn-search:hover,
.header .wrapper.top .search-container button.btn-search:focus {
    background-color: #fcfcfc;
    color: #333333;
    border: 1px solid #fcfcfc;
}

.header .wrapper.banner {
    color: #202020;
    background-image: url("/assets/images/banner.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
}

.header .wrapper.banner .overlay {
    position: relative;
    width: 100%;
    /*background-image: radial-gradient(ellipse farthest-corner at 3.5rem 3.5rem, rgba(255,255,255,0.6) 50%, rgba(255,255,255, 0) );*/
    background-color: rgba(0,0,0,.2);
}

.header .wrapper.banner .overlay .container{
    min-height: 190px;
    position: relative;
}

.header .wrapper.banner .overlay h1 {
    color: #fcfcfc;
    font-weight: 700;
    letter-spacing: -2px;
    font-size: 2rem;
    line-height: 1.7rem;
    transform: translateY(50%);
    top: 50%;
    background-color: rgba(51,51,51,.7);
    display: inline-block;
    padding: 1rem;
}

header .wrapper.nav {
    background-color: #757575;
}

.header nav .navbar-toggler {
    color: #fcfcfc;
}

.header nav .navbar-toggler i {
    font-size: 2rem;
}

.header nav .navbar-nav .nav-link {
    text-transform: uppercase;
    padding: .5rem 1rem;
    color: #fcfcfc;
    border-bottom: 3px solid #757575;
    border-top: 3px solid #757575;
    transition: all 300ms ease-in-out;
}

.header nav .navbar-nav .nav-link {
    text-transform: uppercase;
    padding: .725rem 1rem;
    color: #fcfcfc;
    font-weight: bold;
    border-bottom: 3px solid #757575;
    border-top: 3px solid #757575;
    transition: all 300ms ease-in-out;
}

.header nav .navbar-nav .nav-link.active {
    padding: .725rem 1rem;
    color: #757575;
    background-color: #FCFCFC;
    border-color: #FCFCFC;
    text-decoration: underline;
}

.header nav .navbar-nav .nav-link:hover,
.header nav .navbar-nav .nav-link:focus {
    border-color: #FCFCFC;
    background-color: #FCFCFC;
    color: #757575;
}

.header nav .navbar-nav .dropdown-menu a {
   padding: 0.75rem 1.5rem;
}
.header nav .navbar-nav .dropdown-menu a:hover,
.header nav .navbar-nav .dropdown-menu a:focus {
    text-decoration: underline;
}

.header nav .navbar-nav .dropdown-menu.show {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border: none;
    border-radius: 0;
}

section.main .background-overlay {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.main .quick-link-square {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    min-height: 100px;
    border-radius: 3px;
    color: #fcfcfc;
    background-color: rgb(117,117,117);
    background-color: rgba(117,117,117,.8);
    transition: all 300ms ease-in-out;
}

section.main .quick-link-square span {
    position: relative;
    display: block;
    line-height: 1.725rem;
    transform: translateY(-50%);
    top:50%;
}

section.main .quick-link-square span i {
    font-size: 3.5rem;
    margin-top: 1rem;
    color: #fcfcfc;
}

section.main .quick-link-square:hover,
section.main .quick-link-square:focus {
    background-color: rgb(117,117,117);
    background-color: rgba(117,117,117,.9);
}

section.main .quick-link {
    height: 60px;
    display: block;
    border-radius: 3px;
    color: #fcfcfc;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 300ms ease-in-out;
    background-color: rgb(51,51,51);
    background-color: rgba(51,51,51,.8);
}

section.main .quick-link:hover,
section.main .quick-link:focus {
    background-color: rgb(51,51,51);
    background-color: rgba(51,51,51,.9);
    text-decoration: underline;
}

section.main .article-wrapper article {
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    font-size: 0.85rem;
    line-height: 1.25rem;
}

section.main .article-wrapper article img {
    width: 100%;
    height: auto;
}

section.main .article-wrapper article .copy h3 {
    font-size: 1.25rem;
    color: #333333;
}

section.main .article-wrapper article .copy {
    margin-bottom: 1rem;
}

section.main .article-wrapper article .copy a.more {
    display: block;
    position: absolute;
    bottom: 1rem;
    min-height: 38px;
    font-size: 1rem;
    color: #202020;
    text-decoration: underline;
}

section.main .article-wrapper article .copy a.more:hover {
    text-decoration: none;
}

@media screen and ( max-width: 991px) {
    .header .container {
        width: 100%;
        max-width: none;
    }
    .header nav button.navbar-toggler i {
        font-size: 2.5rem;
    }
    .header nav #navbarNavDropdown .nav-item .dropdown-toggle:after  {
        right: 1.725rem;
        font-size: 1.5rem;
        vertical-align: central;
        margin-left: 2rem;
    }
}

@media screen and ( min-width: 768px) {
    .header .wrapper.banner .overlay .container{
        min-height: 250px;
    }

    .header .wrapper.banner .overlay h1 {
        line-height: 2.5rem;
        font-size: 2.5rem;
    }

    .row.display-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .row.display-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}

@media screen and ( min-width: 992px) {
    .header nav .navbar-nav .nav-link {
        border: 3px solid #757575;
        padding: .725rem 1rem;
    }
    .header nav .navbar-nav .nav-link:hover,
    .header nav .navbar-nav .nav-link.active,
    .header nav .navbar-nav .nav-link:focus {
        padding: .725rem 1rem;
        color: #757575;
        background-color: #FCFCFC;
        border-color: #FCFCFC;
    }
}

.header .wrapper.banner h1 {
    position: relative;
    transform: translateY(50%);
}

/* Skip Navigation links */
#skip-links {
    float: left;
    margin: 0;
    padding: 0;
    clear: both;
    text-align: left;
}
#skip-links ul {
    list-style-type: none;
    margin: 0; padding: 0;
}
#skip-links li {
    float: left;
}
#skip-links a {
    float: left;
    display: block;
    color: #fefefe;
    background-color: #202020;
    padding: 1rem 2rem;
    margin: .25rem;
    /* Hidden offscreen till focused */
    position: absolute;
    left: -9999px;
}

#skip-links a:focus,
#skip-links.visible a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

footer {
    background-color: rgb(51,51,51);
    background-color: rgba(51,51,51,.9);
    color: #fefefe;
    font-size: 0.725rem;
    line-height: 1rem;
}

footer .footer-links-container.util{
    background-color: #333333;
    /*border-bottom: 1px solid rgba(255,255,255,0.1);*/
}

footer .site-info-container {
    background-color: #202020;
    color: #c1c1c1;
}

footer nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

footer .contacts nav ul li {
    width: auto;
    display: inline-block;
}

footer .contacts nav ul li a {
    padding: 1rem;
}

footer nav p {
    font-size: 1rem;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #fefefe;
    font-size: 0.8rem;
    font-weight: normal;
    padding: .5rem 0;
    display: inline-block;
}

footer a i {
    font-size: 1.5rem;
    padding: 0;
}

footer a i:hover {
    color: rgba(255,255,255,.8);
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
    color: #fefefe;
}

/*Accessibility Outlines and focus*/

/*Focus*/
body *:focus {
    outline-color: #EEC643 !important;
    outline-offset: -3px;
    outline-style: solid;
    outline-width: 3px;
    /*outline: 2px solid #EEC643 !important; !* for non-webkit browsers *!*/
    /*outline: 5px auto -webkit-focus-ring-color !important;*/
}
.header .wrapper.top .search-container button.btn-search:focus,
.header nav .navbar-nav .nav-link:focus {
    outline: none;
    background-color: #EEC643 !important;
    border-color: #EEC643 !important;
    color: #202020;
}
